/*********************GENERAL*********************/
.Beverages
{
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-rows: auto auto auto auto auto;
	text-align: center;
	grid-gap: 2vh;
}

.Beverages h1
{
	grid-row: 1 / 2;
}

.ChefSelection
{
	grid-row: 2 / 3;
	display: flex;
	align-items: center;
	justify-content: center;
}

.UserSelection
{
	grid-row: 3 / 4;
}
/*************************************************/
/*******************BEVERAGE DEV******************/
.beverageDev
{
	display: grid;
	grid-template-rows: 6.5vh auto 4vh auto;
	grid-template-columns: 100%;
	align-items: center;
	justify-content: center;
	padding: 0;
	padding-top: 15px;
	color: black;
	box-sizing: border-box;
	margin: 3vh;
	background-color: white;
	width: max(20vw, 340px);
	height: max(30vw, 510px);
	box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
}

.beverageName
{
	grid-row: 1 / 2;
	grid-column: 1 / 2;
	position: relative;
	left: 0px;
}

.beverageProducer
{
	grid-row: 3 / 4;
	grid-column: 1 / 2;
}

.beverage p
{
	grid-column: 1 / 2;
	grid-row: 4 / 5;
}
/*************************************************/
/******************BEVERAGE USER******************/
userBeveragesList
{
	display: flex;
	flex-direction: row;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.BeverageUser
{
	display: grid;
	grid-template-rows: 6.5vh auto 2vh auto auto;
	grid-template-columns: 100%;
	align-items: center;
	justify-content: center;
	padding-top: 10px;
	padding-bottom: 5px;
	margin: 3vh;
	border: 2px solid black;
	width: max(15vw, 350px);
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
}

.beverageUser h2
{
	grid-row: 1 / 2;
	grid-column: 1 / 2;
}

.BeverageUser img
{
	grid-row: 2 / 3;
	grid-column: 1 / 2;
	height: 7vw;
	width: 3vw;
	border: 2px solid black;
	border-radius: 50%;
	padding: 2vh;
	box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75) inset;
}

/**********************************************/


input
{
	border: none;
	font-family: Garamond, serif;
}

button,
input[type=button]
{
	border: 1px solid black;
	width: 20rem;
	cursor: pointer;
	padding: 5px;
	background-color: white;
	border-radius: 5px;
	transition: 0.3s 0s ease-in-out;
}

button
{
	width: 10vw;
	border-radius: 10vw;
}

button,
input[type=button]:hover
{
	transition: 0.3s 0s ease-in-out;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75) inset;
}

input[type=number]
{
	width: 2.5rem;
}