@font-face
{
    font-family: titleFont;
    src: url(Aston Script.ttf);
}

@font-face
{
    font-family: textFont;
    src: url(Champignon.otf);
}

h1
{
	color: white;
	font-size: 5vh;
    font-family: titleFont;
    margin: 0;
    margin-top: 2vh;
    text-shadow: -2px 2px 6px rgba(0,0,0,0.6);
}

h2
{
	margin: 0;
	font-family: textFont;
	font-size: 5vh;
	line-height: 5vh;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.6);
    color: white;
    background-color: #F7DEE2;

}

body
{
	font-family: Garamond, serif;
	background-color: #F7DEE2;
	padding-top: 2.5rem;
}

.navbar
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: grid;
	background-color: white;
	color: black;
	align-items: center;
	justify-items: center;
	height: 2rem;
	grid-template-columns: 10vw 10vw 10vw;
	padding-left: 5px;
	box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
}

.navbar li
{
	list-style-type: none;
	width: 100%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	transition: 0.5s 0s ease-in-out;
}



#about
{
	border-right: none;
}

.navbar li:hover
{
	transition: 0.5s 0s ease-in-out;
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75) inset;
}

a
{
	display: flex;
	align-items:center;
	justify-content:center;
	width: inherit;
	height: inherit;
	text-decoration: none;
	color: inherit;
}